{% extends "main_layout.html" %}
{% block title %} Hasil Klasifikasi {% endblock %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row justify-content-center">
            <div class="col-lg-8">
              <center><h3 class="col-lg my-3" style="margin-bottom: 5;">Laporan Hasil Klasifikasi</h3></center>
              </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <a href="{{ url_for('cluster') }}" class="btn btn-sm btn-primary" style="margin-bottom: 1.3rem;">Back</i></a>

                </div>

              </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg">
                  {{hasil|safe}}
              </div>
            </div>
          </div>
        </div>

        </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    {% endblock %}
</div>