{% extends "main_layout.html" %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% block content%}
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row justify-content-center">
              <div class="col-lg-8">
                <center><h4 class="col-lg py-sm-3" style="margin-bottom: 9;">Laporan Hasil Klasifikasi Barang</h4></center>
                </div>
                </div>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg">
            <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Kode Aset</th>
                    <th scope="col">Nama Aset</th>
                    <th scope="col">Hasil</th>
                    <th scope="col">Keterangan</th>
                  </tr>
                </thead>

                <tbody>
                  
                  {% for d in data %}
                  <tr>
                      <th scope="row">{{ loop.index }}</th>
                      <td>{{ d.kode_aset }}</td>
                      <td>{{ d.jenis }}</td>
                      <td>{{ d.hasil }}</td>
                      <td>{{ d.keterangan }}</td>
                  {% endfor %}
                </tbody>
              </table>
                </div>
                <!-- /.direct-chat-pane -->
              </div>
              <!-- /.card-body -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      Hasil Klasifikasi Barang
                    </div>
                    <div class="card-body">                      
                        <img src="{{ url_for('static',filename='img/chartBarang.png')}}" id="logo" width="400px"/>  
                    </div>
                  </div>
                  
                  </div>
                </div>
              

            
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock%}